<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.6/phpunit.xsd"
	bootstrap="tests/bootstrap.php"
	colors="true"
	beStrictAboutTestsThatDoNotTestAnything="true"
	beStrictAboutOutputDuringTests="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
>
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>

	<coverage processUncoveredFiles="true">
		<include>
			<directory suffix=".php">includes</directory>
			<file>admin-clean-up.php</file>
		</include>
		<report>
			<html outputDirectory="coverage"/>
			<text outputFile="php://stdout"/>
		</report>
	</coverage>

	<php>
		<const name="ABSPATH" value="/tmp/wordpress/"/>
		<const name="ADMIN_CLEAN_UP_PLUGIN_DIR" value="./"/>
		<const name="ADMIN_CLEAN_UP_PLUGIN_URL" value="http://localhost/wp-content/plugins/admin-clean-up/"/>
		<const name="ADMIN_CLEAN_UP_VERSION" value="1.0.0"/>
	</php>
</phpunit>
